.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table{
  background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
 .navbar-brand-wrapper{
  background-color: #89d4cf !important;
 
 }
 .nav-item .nav-link{
   color: black !important;
 }
 .ti{
   position: relative;
   bottom: 1rem;
   left: 2rem;
 }
 .Atable{
   position: relative;
 
 }
 .body1{
   height: 30rem;
 }
 .ti1{
  position: relative;
  top: 2rem;
}
 
.stretch-card1{
  position: relative;
  bottom:10rem;
}
.Table{
  position: relative;
  bottom:10rem;
}